/* Start adding your styling below! */ 
body {
    background-color: yellow;
    /* text-align: center; */
    /* brings the ordered list numbers to the center as well */
    /* list-style-position: inside; */
}

p {
    color: green;
}

.center {
    font-size: 36px;
    text-align: center;
}

#cool-text {
    color: blue;
}

#color-list {
    color: crimson;
}